:root {
    --color-background-primary: #000000;
    --color-background-secondary: #EEEEEE;
    --light-grey: rgb(168, 167, 167);

    --color-hover-light: rgb(225, 225, 225);
    --color-hover-red: #cc3232;

    --color-button-primary: grey;
}

#app {
    width: 100vw;
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}