:root {
    --color-background-primary: #000000;
    --color-background-secondary: #EEEEEE;
    --light-grey: rgb(168, 167, 167);
    --medium-grey: rgb(138, 136, 136);
    --darker-grey: rgb(121, 118, 118);
    --dark-grey: rgb(71, 70, 70);

    --color-hover-light: rgb(210, 210, 210);
    --color-hover-red: #cc3232;

    --color-button-primary: grey;

    --selection-color: #F5E69C;
}

#app {
    width: 100vw;
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

* {
    font-family: Pallafont, arial;
}