.searchbar {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
}

.subcategories-phone {
    display: none;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--light-grey);
}

.subcategories-phone button {
    width: 100%;
    height: 50px;
    background-color: black;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
}

.subcategories-phone section {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.searchbar input {
    padding: 0px 10px;
    height: 50px;
    border: 1px solid var(--light-grey);
    color: var(--dark-grey);
}

.searchbar button {
    border: none;
    background-color: var(--dark-grey);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.searchbar button:hover {
    color: black;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-list {
    width: 100%;
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 15px;
}

.subcategories-desktop {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--medium-grey);
}

.subcategories-desktop section {
    display: flex;
    flex-direction: column;
}

.subcategory {
    margin: 10px 0px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 15px;
}

.subcategory-section {
    margin-bottom: 20px;
}

.subcategory-subcategory {
    margin-top: 4px;
    font-style: italic;
    cursor: pointer;
}

.products-all {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

.load-more {
    width: 100%;
    text-align: right;
}

.load-more button {
    cursor: pointer;
    padding: 10px 20px;
    line-height: 22px;
    font-size: 17px;
    background-color: white;
    color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
}

.searchbar button:focus, .load-more button:focus, .searchbar input:focus {
    outline: none;
}

.no-products {
    padding: 100px 0px;
    display: block;
    text-align: center;
}

.no-products span {
    font-size: 17px;
}

@media (max-width: 767px) {
    .products-all {
        display: flex;
        flex-direction: column;
    }

    .subcategories-phone {
        display: block;
    }

    .subcategories-desktop {
        display: none;
    }

    .products-list {
        grid-template-columns: 1fr 1fr;
    }

    .load-more {
        text-align: center;
        margin-bottom: 30px;
    }
}