.register {
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.register h1 {
    margin-top: 40px;
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-grey);
}

.register-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.register-form label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 13px;
}

.register-form input {
    box-sizing: border-box;
    padding: 0px 10px;
    width: 50%;
    height: 50px;
    margin-bottom: 40px;
    border: 1.5px solid var(--light-grey);
    outline: none;
}

.register-button {
    cursor: pointer;
    width: 50%;
    height: 50px;
    color: white;
    background-color: var(--light-grey);
    border: none;
    outline: none;
    transition: 0.3s;
}

.register-button:hover {
    background-color: var(--color-hover-red);
}

.register-button:focus {
    outline: none;
}

.register-form section {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-form section a {
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.register-form section a:hover {
    color: var(--color-hover-orange);
}

@media (max-width: 767px) {
    .register-form input {
        padding-left: 10px;
        width: 100%;
    }
    .register-form section {
        flex-direction: column;
    }
    .register-button {
        width: 100%;
    }
    .register-form section {
        width: 100%;
    }
    .register-form section a {
        width: 100%;
        margin-top: 10px;
        font-size: 16px;
    }
}