.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.category-image {
    position: relative;
    text-align: center;
}

.category-image img {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
    filter: brightness(50%);
}

.category-image h1 {
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: category-title;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.category-image h1::selection {
    background: var(--selection-color);
    color: black;
}

.category-products {
    padding: 40px;
}