.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.category-image {
    position: relative;
    text-align: center;
}

.category-image img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    filter: brightness(50%);
}

.category-image h1 {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category-image h1::selection {
    background: var(--selection-color);
    color: black;
}

.category-products {
    padding: 40px;
}

@media (max-width: 767px) {
    .category-image img {
        height: 250px;
    }

    .category-image h1 {
        font-size: 2em;
    }

    .category-products {
        padding: 20px;
    }
}