.product {
    box-sizing: border-box;
    padding: 40px 20px 20px 20px;
    width: 100%;
}

.product-details {
    margin-bottom: 50px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.product-image img {
    width: 100%;
    object-fit: cover;
    max-height: 600px;
}

.product-info {
    padding-left: 20px;
    box-sizing: border-box;
}

.description {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-description {
    margin-top: 10px;
}

.product-ingredients {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.product-ingredients span:first-child {
    font-weight: bold;
}

.product-ingredients span {
    margin-bottom: 6px;
}

.customer-reviews {
    margin: 0px 10px;
    padding: 20px;
    border: 1px solid var(--lighter-grey);
    box-sizing: border-box;
}

.customer-reviews-title {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold
}

.no-reviews {
    display: flex;
    justify-content: space-between;
}

.no-reviews span {
    font-size: 15px;
    font-weight: bold;
}

.write-review {
    cursor: pointer;
    transition: 0.2s;
}

.write-review:hover {
    color: var(--color-hover-orange);
}

.add-review {
    margin-top: 40px;
}

.review-form {
    border-top: 1px solid var(--lighter-grey);
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.review-form label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

.review-form input {
    box-sizing: border-box;
    padding: 0px 10px;
    min-height: 50px;
    color: var(--dark-grey);
    margin-bottom: 40px;
    border: 1.5px solid var(--light-grey);
    outline: none;
}

.review-button {
    cursor: pointer;
    width: 20%;
    min-height: 50px;
    color: white;
    border: none;
    font-weight: bold;
    background: black;
    outline: none;
    transition: 0.3s;
}

.review-button:hover {
    background-color: var(--color-hover-red);
}

.review-form section {
    text-align: right;
}

.image {
    width: 100%;
}

.product-type {
    display: inline-block;
    background-color: var(--darker-grey);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 15px 24px;
    margin-bottom: 10px;
}

.product-name {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}

.product-price {
    font-weight: bold;
    font-size: 1.2em;
}

.tabs {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.tabs-names {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--medium-grey);
}

.tabs-names a {
    user-select: none;
    cursor: pointer;
    margin-right: 30px;
    font-size: 14px;
    transition: 0.1s;
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}

.unselected:hover {
    color: #eb694b;
}

.selected {
    border-bottom: 2px solid var(--darker-grey) !important;
    font-weight: bold;
}

.tabs-content {
    width: 100%;
    margin-top: 30px;
}

.nutritional-table {
    width: 100%;
    border: 1px solid var(--light-grey);
    border-spacing: 0px;
    border-radius: 10px;
}

.nutritional-table tr:nth-child(2n) {
    background-color: var(--very-light-grey);
}

.nutritional-table tr td, .nutritional-table tr th {
    padding: 12px;
}

.nutritional-table tr td:first-child, .nutritional-table tr th:first-child {
    font-weight: bold;
    border-right: 1px solid var(--light-grey);
}

.nutritional-table tr td:nth-child(2) {
    text-align: center;
}

.align-right {
    font-weight: normal !important;
    padding-left: 40px !important;
}

.to-cart-button {
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 18px;
    transition: 0.3s;
}

.add-to-cart {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
}

.add-to-cart button {
    cursor: pointer;
    border: none;
}

.quantity {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 7px;
}

.quantity * {
    user-select: none;
}

.quantity span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
}

.quantity button {
    border: 1px solid var(--lighter-grey);
    font-size: 17px;
    background-color: var(--very-light-grey);
    font-weight: bold;
}

.quantity button, .to-cart-button {
    outline: none;
}

.quantity button:hover {
    border: 1px solid var(--light-grey);
}

.to-cart-button:hover {
    background-color: var(--dark-grey);
}

.comment:first-child {
    margin: 20px 0px;
}

.comment {
    padding: 40px 0px 10px 15px;
    border-top: 1px solid var(--light-grey);
}

.comment-title {
    font-weight: bold;
    font-size: 22px;
}

.comment-body {
    font-style: italic;
    font-size: 17px;
}

.related {
    margin: 80px 10px;
}

.related-title {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-grey);
    text-align: center;
}

.comment-delete {
    margin-top: 10px;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: var(--very-light-grey);
    color: var(--color-button-blue);
    transition: 0.2s;
}

.comment-delete:hover {
    background-color: var(--lighter-grey);
}

@media (max-width: 767px) {
    .product {
        padding: 20px 10px;
    }
    
    .product-details {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .product-image img {
        max-height: 400px;
    }

    .product-info {
        padding: 0px;
    }

    .product-name {
        margin-top: 16px;
    }

    .tabs {
        margin-top: 40px;
    }

    .tabs-names a {
        font-size: 12px;
    }

    .add-to-cart {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .quantity {
        width: 50%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0px;
    }

    .quantity * {
        min-height: 50px;
    }

    .customer-reviews {
        padding: 20px 12px;
    }

    .customer-reviews-title {
        text-align: center;
        margin: 10px 0px;
    }

    .add-review {
        margin-top: 20px;
    }

    .no-reviews {
        flex-direction: column;
        align-items: center;
    }

    .no-reviews span {
        margin: 10px 0px;
    }

    .review-form {
        padding: 20px 0px;
    }

    .review-form input {
        margin-bottom: 30px;
    }

    .review-button {
        width: 100%;
    }

    .comment {
        padding: 30px 0px 10px 10px;
    }
}